/* decalre variable  */

:root{
    --text-color:#fff;
    --padding: 1rem ;
}

*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
/* #blog-part{
    display: flex !important;
    justify-content: right;
    align-items: center;
    background: rgb(107, 68, 68);
    color: #fafafa;
    padding: 2rem 1rem;

    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
} */

nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(29, 42, 42);

    display: flex;
    justify-content: center;
    align-items: center;
    
}
 nav ul{
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .nav_link{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    display: inline-block;

    /* shortcut above 3 transition line */
    /* transition: all 0.4s linear; */
}
.nav_link:hover{
    color: brown;
    text-decoration: underline;
    transform: scale(1.3);
}


header{
    height: 100vh;
    background-image: url(/jason-leung-poI7DelFiVA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: saturate(0);
}

header:hover{
    filter: saturate(1);
}
main{
    background-color:#2c2c2c;
    color:var(--text-color); /*variable use here */
    padding: var(--padding);
}



.Food{
 min-height: 90vh;
 /* background-color:blue; */
}
.section-title{
    text-align: center;
}
.row{
    min-height: 70vh;
    background-color: rgb(5, 130, 172);
       gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Card{
    width: 25rem;
    background-color: rgb(32, 62, 89);
    padding: var(--padding);
    color: black;
    transition: all 0.3s;
    transform: skew(3deg);
    
}
.Card:hover{
    box-shadow:0.5rem 0.6rem 0.9rem rgba(158, 155, 155, 0.5);
    /* transform: scale(1.1); */
    /* transform: rotate(45deg); */
    transform: translate(15px,35px);
}

footer{
    background-color: #3c3c3c;
     color:var(--text-color); /*variable use here */
    padding: var(--padding);
}

.parent{
    background-color: rgb(234, 241, 241);
    height: 15rem;
}
.Child{
    background-color: rgb(0, 222, 2);
    font-size:larger;
    font-style: italic;
    width: 20rem;
    position: fixed;
    top: 4rem;
    left: 30rem;
}

.center{
    text-align: center;
}

.tutorials{
    min-height: 70vh;
    background-color: rgb(6, 18, 18);
    display: flex;
   gap: 2rem;
   justify-content: center;
   align-items: center;
}

.tutorial{
    background-color:orange;
    
    height: 10vh;
    width: 25%;
    display: flex;
     justify-content: center; /* x axis center */
    align-items: center;  /* y axis center */
    border-radius: 20px;
    transition-property: all;
    transition-duration: 2.5s;
    /* transition-delay: 1s; */
    transition-timing-function: linear;

     /* shortcut above 3 transition line */
    /* transition: all 2.5s linear; */
}

.tutorial:hover{
    background-color: aqua;
    color: rgb(32, 31, 31);
}



/* team section start */

.team-section{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.team-members{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 1rem;
}

.team-member{
    background-color:white;
    color: black;
    padding: 1rem;
}

#team-member2{
    background-color: green;
}
/* team section end */


@media screen and (max-width: 992px){  
}

@media screen and (max-width: 868px){
    .team-members{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 1rem;
    }
}

@media screen and (max-width: 600px){

    header{
        display: none;
    }
    .Food{
        padding: 2rem 0;    
    }
    .row{
        flex-direction: column;
    }

    .row.Card{
        width: 80%;
    }

    .tutorials{
        flex-direction: column;
    }
    .tutorial{
        width: 80%;
    }

    .team-members{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        gap: 1rem;
    }
}


/* transfrom proparity 
transform: rotate(), scale() ,translate(), skew()
 */


 .parent-div{
    
    min-height: 100vh;
    display:flex;
    justify-content: center;  /* x axis borabor move */
    align-items: center;   /* y axis borabor move */
 }

 .circle-div{
    
    background-color: chocolate;
    min-height: 12rem;
    min-width: 12rem;
    border-radius: 50%;
    position: relative;
   

    animation: 4s linear 0s infinite alternate circle-anim;
    /* animation-name: circle-anim;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;  */
    /* here say circle continious color change korte thakbe*/
 }

 /* animation */
 @keyframes circle-anim {

   /* here say when time 25% cirle color etta h0be */
     25%{
        background-color: #2c2c2c;

    }

    50%{
      background-color: aqua;
    }

    75%{
        background-color: blueviolet;
      }

      100%{
        background-color:green;
      }

      from {
        /* pushes the sun down past the viewport */
        transform: translateY(30vh);
      }
      to {
        /* returns the sun to its default position */
        transform: translateY(0);
      }
 }